<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL9Vk-cc-XW79LnLQ8oJcl7QwaDM5tOfg</string>
	<key>GCM_SENDER_ID</key>
	<string>370624456093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialFlutterApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-flutter-app-42337</string>
	<key>STORAGE_BUCKET</key>
	<string>social-flutter-app-42337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370624456093:ios:9b187c56132477a4337b74</string>
</dict>
</plist>